# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp


.env
.DS_Store
log
tmp*
tmp
/log
/spec/tmp

## Environment normalization:
/vendor/bundle