<div class="container">

<div id="title-container">
  <h1 id="homepage-title"> A Home Away From Home for Your Loved One</h1>
</div>

<div id='home-links'>

    <%= link_to bwc_path, class: "homepage-text" do %>
      <div class='home-link'>
        <img src="http://wallchips.com/wp-content/uploads/2013/12/Modern-Simple-Home-Design-2014-Wallpaper.jpg" class="homepage-img">
        Because We Care
      </div>
    <% end %>

    <%= link_to ant_path, class: "homepage-text" do %>
      <div class='home-link'>
        <img src="http://wallchips.com/wp-content/uploads/2013/12/Modern-Simple-Home-Design-2014-Wallpaper.jpg" class="homepage-img">
        A Nurturing Touch
      </div>

    <% end %>
</div>

</div>